<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse bg-faded" id="app-nav-bar">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">{{title}}</a>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" *ngIf="isAdmin()" >
        <a href="/dashboard" class="nav-link text-white" style="padding-top:22px;">Dashboard</a>
      </li>
    </ul>
    <ul class="navbar-nav" id="app-navbar-nav">
      <li class="nav-item">
        <img class="img-circle" id="profile-nav-item-img" [src]=getProfileUrl()>
        <div id="profile-nav-item-info">
          <h4 class="text-white"><strong>{{getUserName()}}</strong></h4>
          <p class="text-white small">{{getUserEmail()}}</p>
        </div>
      </li>
      <li class="nav-item" id="logout-btn">
        <a class="nav-link btn btn-danger" href="#" (click)="logout()" style="color:antiquewhite">Logout</a>
      </li>
    </ul>
  </div>
</nav>
